.home-img {
    height: 90px;
    width: 110px;
    border-radius: 30px;
}

/* body {
    background-image: url(../../../public/img/iconBooroad.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50px);
} */

@media screen and (max-width: 576px) {
    .home-title {
        display: none;
    }
    }

    @media screen and (min-width: 576px) {
    .home-title-mobile {
        display: none;
    }
    }